node_modules
**/node_modules

nextjs/.next
**/.next

nextjs/out
**/out

dist
**/dist

.turbo
**/.turbo

.expo
mobile

.git
.gitignore

.env
.env.*
!.env.example

npm-debug.log
bun.lockb.tmp

.vscode
.DS_Store

README.md
*.md

**/.git